:root {
  --color-primary: #af2024;
  --color-secondary: #231f20;
  --color-accent: #f8f8f8;
  --color-extra: #c76366;
  --font-primary: 'Source Sans Pro', sans-serif;
  --font-secondary: 'Source Serif Pro', serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}
h2 {
  font-family: var(--font-primary);
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

h5 {
  font-family: var(--font-primary);
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

p {
  font-family: var(--font-secondary);
}

.btn {
  background-color: var(--color-accent);
}

.heading {
  font-family: var(--font-primary);
}

.content {
  font-family: var(--font-secondary);
}

mark {
  background-color: var(--color-accent);
  font-family: var(--font-secondary);
  color: #fff;
}
