.box {
  border: 1px solid var(--color-secondary);
  background-color: #fff;
}

hr {
  background-color: var(--color-accent);
}

html {
  background-color: var(--color-accent);
}

.title {
  color: var(--color-secondary);
}

.bookmark-title {
  text-align: center;
}

h3 {
  text-align: center;
}

.right-icons {
  float: right;
}
