hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.icon {
  float: left;
  width: 50%;
  position: absolute;
}

header {
  background-color: var(--color-accent);
  padding: 1em 0;
}

body {
  margin: 0;
}

image-header
h1 {
  margin: 0;
  text-align: left;

.nav > .nav-header {
  display: inline-block;
  font-size: 22px;
  color: #fff;
master
}

.nav {
  margin: 0;
  list-style-type: none;
  text-align: right;
  padding: 0;
  text-decoration: none;
  display: block;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  color: var(--font-primary);
}

.nav a:hover {
  background-color: var(--color-extra);
  color: #fff;
  border-radius: 4px;
}
