genre-pages
.hover-box {
  color: #fff;
}

.hover-box-caption {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 5));
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 9);
  bottom: -6em;
  transition: all .2s linear;

.container {
  position: relative;
  width: 100%;
master
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

genre-pages
.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--color-extra);
}

.container:hover .overlay {
  opacity: 1;
master
}

.text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
